main {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1244px;
    margin: 0;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.additionalText {
    color: #8585AD;
}

a {
    color: #4C4CFF;
    text-decoration: none;
}

a:visited {
    color: #4C4CFF;
}

a:hover {
    color: #4C4CFF;
}