main {
    background-color: #131316;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.constructorSection {
    width: 100%;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1244px;
    margin: 0;
}