.wrapper {
    width: 100%;
    height: 100%;
    max-width: 1244px;
    margin: 0;
    display: flex;
    justify-content: center;
}

.feedContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-template-areas: 
            "title title"
            "orderListContainer orderInfoContainer";
}

.title {
    grid-area: title;
    width: 100%;
    margin: 40px 0 0 0;
}

.orderListContainer {
    padding-top: 20px;
    grid-area: orderListContainer;
}

.orderInfoContainer {
    padding-top: 20px;
    grid-area: orderInfoContainer;
}

.orderScreen {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 48px 1fr;
    grid-column-gap: 36px;
    grid-template-areas: 
            "readyTitle processTitle"
            "readyList processList";
}

.readyTitle {
    grid-area: readyTitle;
}

.readyList {
    grid-area: readyList;
}

.processTitle {
    grid-area: processTitle;
}

.processList {
    grid-area: processList;
}

.counterContainer {

}

.counterTitle {

}

.counterValue {

}