.menuItem {
    display: flex;
    align-items: center;
    margin-right: 8px;
    padding: 16px 20px;
}

.menuItem:hover {
    cursor: pointer;
}

.itemText {
    margin-left: 8px;
}

.itemText::first-letter {
    text-transform: uppercase;
}