.menuItem {
    display: flex;
    align-items: center;
    margin-right: 8px;
    padding: 16px 20px;
    color: #8585AD;
}

.menuItem:hover {
    color: #F2F2F3;
}

.menuItem:hover {
    cursor: pointer;
}

.itemText {
    margin-left: 8px;
}

.itemText::first-letter {
    text-transform: uppercase;
}

.isActive {
    color: #F2F2F3;
}

a {
    text-decoration: none;
}