.header {
    background-color: #1C1C21;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 16px 0;
}

.menuBlockMenu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menuBlockLogo {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuBlockProfile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1284px;
    margin: 0;
}